<%- include('header') %>

<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae 
    nisi ipsa quo delectus, nesciunt, cupiditate corporis doloremque
     eaque sed recusandae sapiente odit 
    voluptatum praesentium assumenda nobis ut voluptatibus repudiandae 
    vel.</p>

<%- include('footer') %>
